@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

body,
html {
font-family: "Quicksand", sans-serif;
}

.country__details {
        line-height: 1.5;
}

.country__official__name {
        font-size: 1.2rem;
        font-weight: bolder;
        color: rgb(248, 129, 32);
        margin-top: 1.5rem;
}

.region,
.capital,
.independence__status,
.population {
        line-height: 1.5;
        font-size: 1.2rem;
}

img.court_of_arms {
        width: 50%;
        height: 40%;
}

.countries__container {
        margin: 2rem;
        -ms-display: -ms-grid;
        display: grid;
        -ms-grid-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        align-items: center;
        // text-align: center;

        .country {
                background: #fff;
                transition: all 0.6s ease;
                padding: 1rem;
                &:hover {
                        box-shadow: 3px 11px 18px 1px rgba(43, 43, 43, 0.45);
                        cursor: pointer;
                        transform: scale(1.1);
                        z-index: 10;
                }
                .country__flag {
                        text-align: center;
                        align-items: center;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(1rem, 2fr));
                        grid-gap: 2px;

                        .flag {
                                width: 100%;
                                object-fit: contain;    
                        }
                        
                        .court_of_arms {
                                width: 100%;
                                object-fit: contain;   
                        }
                }
                .country__details {
                        .country__official__name {
                                font-size: 1.2rem;
                        }
                        .region,
                        .capital,
                        .independence__status,
                        .population {
                                font-size: 1rem;
                        }
                        .map {
                                margin-top: 1rem;
                        }
                        .map > a {
                                text-decoration: none;
                                padding: 0.4rem 0rem;
                                color: rgb(36, 140, 238);
                                outline: none;
                                text-transform: uppercase;
                                font-weight: bolder;
                                &:hover {
                                        cursor: pointer;
                                }
                        }
                }
        }


}

.country {
        box-shadow: 3px 11px 18px 1px rgba(190, 190, 190, 0.45);
}

.align-center {
        text-align: center;
}
